*.o
*.out

seqBuildSearchFloat
seqBuildSearchLong
seqBuildSearchDouble
seqBuildSearchInt

parallelBuildSearchDouble2  
parallelBuildSearchFloat2  
parallelBuildSearchInt2   
parallelBuildSearchLong2

parallelBuildSearchDouble4  
parallelBuildSearchFloat4  
parallelBuildSearchInt4   
parallelBuildSearchLong4

parallelBuildSearchDouble8  
parallelBuildSearchFloat8  
parallelBuildSearchInt8   
parallelBuildSearchLong8

parallelBuildSearchDouble1 
parallelBuildSearchFloat1 
parallelBuildSearchInt1    
parallelBuildSearchLong1

.vscode/
experiments/
